<div class="footer-bottom-social">     			
Follow us
	<ul class="nav navbar-nav">
	    <li class="level1 facebook ">
	        <a href="https://facebook.com/stylelab.world" target="_blank"><span class="menu-text">Facebook</span></a>
	    </li>       
	
	    <li class="level1 linkedin ">
	        <a href="https://www.linkedin.com/company/stylelab-int/" target="_blank"><span class="menu-text">Linekdin</span></a> 
	    </li>       
	
	    <li class="level1 instagram ">
	        <a href="https://instagram.com/stylelab.world" target="_blank"><span class="menu-text">Instagram</span></a>
	    </li>       
	</ul>
</div>